@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    int currentPage = Model.Data.CurrentPage;
    int totalPages = Model.Data.TotalPages;
}

<!-- Список -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Data.Items)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@item.Image" class="card-img-top" alt="item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Price: @item.Price $</p>
                    <a class="btn btn-outline-secondary" asp-action="Add" asp-route-id="@item.Id" asp-controller="Cart" asp-route-returnUrl="@returnUrl">Add to cart <span class="fa-solid fa-cart-shopping" style="color: gray"></span></a>
                </div>
            </div>
        </div>
    }
</div>

<!-- Кнопки переключения страниц -->
<pager current-page="@currentPage" total-pages="@totalPages" category="@ViewBag.CurrentCategory"></pager>
